.main {
  padding-top: 30px;
  padding-bottom: 300px;
}


.title{
  text-align: center;
  padding-bottom: 20px;

  font-family: Labor Union, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 91px;
  color:#E9C3E5;
}

.description {
  text-align: center;

  font-family: Labor Union, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 54px;

  align-self: center;
  color: #EBCCCC;
}
