<div class="catalog">
<div class="catalog-item" *ngFor="let item of allProductList">
    <div class="product">
        <img src = "src/tmpImg/1.png" alt = "" class="product-img">
        <div class = "product-content">
            <h3 class="product-title">{{item.name}}</h3>
            <div [ngSwitch]="item.productTypeId">Вид:<p *ngSwitchCase="1">Кофе</p><p *ngSwitchCase="2">Чай</p></div>
            <p class="product-description">{{item.description}}</p>
        </div>
        <footer class="product-footer">
            <div class="product-bottom">
                <div class="product-price">
                    <span class="product-price-value">{{item.price}}</span>
                    <span class="product-currency">&#8381;</span>
                </div>
                <button class="btn product-btn" type="button">в корзину</button>
            </div>
        </footer>
    </div>
</div>
</div>