header {
    position: absolute;
    width: 100%;
    height: 150px;
    left: 0px;
    top: 0px;
    
    background: linear-gradient(180deg, #E3D5D5 75%, rgba(251, 228, 228, 0) 100%);
    opacity: 75%;
}

footer {
    position: absolute;
    width: 100%;
    height: 150px;
    left: 0px;
    top: 79%;

    background: linear-gradient(180deg, rgba(227, 213, 213, 0) 0%, #E3D5D5 100%);
}