  .logo {
    width: 180px;
    height: 130px;
    
    background: url(../../asserts/header/LOGO.png);
    background-size: cover;
  }

  .refBlock {
    display: flex;
    justify-content: space-between;

  }

  .headerRef {
    padding: 20px;
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 34px;

    color: #342B2B;
  }

  .headerRef a{
    text-decoration: none;
  }
  
  .headerRef:hover {
    background: rgba(255,255,255,.2);
  }

  .headerRef:active {
    background: white;
  }

  .profIcon {
    width: 86px;
    height: 86px;

    background-image: url(../../asserts/header/profIcon.png);
    background-size: cover;
  }
