  .logo {
    width: 147px;
    height: 110px;
    background: url(../../asserts/header/LOGO.png);
  }

  .refBlock {
    display: flex;
    justify-content: space-around;

  }

  .headerRef {
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 41px;
    text-align: center;
    padding-top: 20px;
    margin-right: 45px;
    color: #342B2B;
  }

  .profIcon {
    width: 86px;
    height: 86px;
    margin-top: 10px;
    margin-right: 20px;
    
    background: url(../../asserts/header/profIcon.png);
  }
