.footer-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.about {
  font-family: Montserrat,sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;

  border-color: forestgreen;

  color: #000000;
}