<div class = "footer">
    <div class="container">
        <div class="footer-row">
            <div class="about">
                О наc<br>
                Условия пользования<br>
                Политика конфиденциальности<br>Сотрудничество
            </div>
            <div class="about">
                Есть вопросы?<br>
                Тел: +72154546654454<br>
                площадь Мустакиллик, 5,<br>
                Ташкент, Узбекистан<br>
                info@holet.uz
            </div>
        </div>
    </div>
</div>